.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 921px;
}

.u-section-1 .u-image-1 {
  width: 361px;
  height: 361px;
  margin: 41px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  margin: 33px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  margin: 43px -80px 0 -21px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: none;
  margin: 0 auto 60px;
  padding: 18px 43px 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 915px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 22px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1143px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1326px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 33px;
    margin-left: 43px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 431px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -135px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 530px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 55px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 566px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: 10px 298px 0 -139px;
}

.u-section-2 .u-text-2 {
  margin: 90px auto 0 30px;
}

.u-section-2 .u-text-3 {
  margin: 20px 30px 0;
}

.u-section-2 .u-btn-1 {
  margin: 56px auto 0 38px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: -36px 73px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -46px auto 0 280px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 437px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 36px;
    margin-right: 245px;
    margin-left: -147px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 108px;
    margin-right: 405px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 231px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 612px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 26px;
    margin-right: 145px;
    margin-left: -145px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 112px;
    margin-right: 39px;
    margin-left: 61px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 26px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 177px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -22px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 24px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 382px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -374px;
    margin-right: 18px;
    margin-left: -17px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 348px;
    margin-right: 30px;
    margin-left: 70px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 90px;
    margin-left: 30px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 39px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 246px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 51px;
    margin-bottom: -27px;
    margin-left: 44px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 525px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -319px;
    margin-right: 13px;
    margin-left: -12px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 293px;
    margin-right: 100px;
    margin-left: 30px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 9px;
    margin-left: 126px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 420px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto 0 -30px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 457px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  margin: 66px auto 0 30px;
}

.u-section-3 .u-text-2 {
  margin: 20px 30px 0;
}

.u-section-3 .u-btn-1 {
  margin: 20px 30px 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: -18px 39px 0 auto;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -36px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 377px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-3 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 39px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 29px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -36px;
    margin-right: 20px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 176px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 273px;
    order: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 408px;
    order: 1;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 30px;
    margin-left: 30px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -37px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 224px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 553px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 20px;
    margin-right: 123px;
    margin-left: auto;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 420px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 464px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 66px 437px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: -11px 30px 0 auto;
  padding: 0;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -30px auto 0 258px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 383px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 314px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 208px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 33px;
    margin-left: 25px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 38px;
    margin-right: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -46px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: -34px;
    margin-left: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 276px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 19px 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 22px;
    margin-right: 135px;
    margin-bottom: -11px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 434px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 224px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 673px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 104px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 20px;
    margin-left: auto;
  }
}.u-section-5 {
  background-position: 50% 50%;
  background-image: linear-gradient(0deg, rgba(17,31,53,0.5), rgba(17,31,53,0.5)), url("mixedusedevelopment.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 295px;
  position: relative;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 1px auto 27px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 267px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 50px;
}

.u-section-5 .u-text-1 {
  margin: 58px 20px 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-5 .u-text-3 {
  margin: -5px 20px 0;
}

.u-section-5 .u-text-4 {
  margin: 10px 20px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 267px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-5 .u-text-5 {
  margin: 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 220px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 32px;
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: 32px;
    margin-left: 8px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 12px;
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 32px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 32px;
    margin-left: 8px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}