.u-section-1 {
  background-image: none;
  min-height: 1405px;
}

.u-section-1 .u-text-1 {
  font-size: 4.0625rem;
  line-height: 1;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 740px;
  font-style: italic;
  font-size: 1.125rem;
  margin: 28px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 1165px;
  margin-top: 28px;
  margin-bottom: 1px;
  grid-gap: 17px 17px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 30px 30px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.25), rgba(44,204,196,0.25));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.25), rgba(44,204,196,0.25));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.25), rgba(44,204,196,0.25));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.25), rgba(44,204,196,0.25));
  padding: 20px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.25), rgba(44,204,196,0.25));
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.25), rgba(44,204,196,0.25));
  padding: 20px;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.25), rgba(44,204,196,0.25));
  padding: 20px;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.25), rgba(44,204,196,0.25));
  padding: 20px;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.25), rgba(44,204,196,0.25));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1200px;
  }

  .u-section-1 .u-gallery-1 {
    height: 961px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 2079px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1840px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 5207px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-gallery-1 {
    height: 4968px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 3367px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    height: 3128px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 1196px;
}

.u-section-2 .u-gallery-1 {
  height: 1166px;
  margin-top: 20px;
  margin-bottom: 10px;
  grid-gap: 17px 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 27px 27px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.35), rgba(44,204,196,0.35));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.35), rgba(44,204,196,0.35));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.35), rgba(44,204,196,0.35));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.35), rgba(44,204,196,0.35));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.35), rgba(44,204,196,0.35));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.35), rgba(44,204,196,0.35));
  padding: 20px;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.35), rgba(44,204,196,0.35));
  padding: 20px;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.35), rgba(44,204,196,0.35));
  padding: 20px;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.35), rgba(44,204,196,0.35));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 991px;
  }

  .u-section-2 .u-gallery-1 {
    height: 961px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 1870px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1840px;
    margin-top: 174px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 4998px;
  }

  .u-section-2 .u-gallery-1 {
    height: 4968px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 3158px;
  }

  .u-section-2 .u-gallery-1 {
    height: 3128px;
    margin-top: 232px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 1187px;
}

.u-section-3 .u-gallery-1 {
  height: 1166px;
  margin-top: 11px;
  margin-bottom: 11px;
  grid-gap: 17px 17px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 26px 26px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.45), rgba(44,204,196,0.45));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.45), rgba(44,204,196,0.45));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.45), rgba(44,204,196,0.45));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.45), rgba(44,204,196,0.45));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.45), rgba(44,204,196,0.45));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.45), rgba(44,204,196,0.45));
  padding: 20px;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.45), rgba(44,204,196,0.45));
  padding: 20px;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.45), rgba(44,204,196,0.45));
  padding: 20px;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.45), rgba(44,204,196,0.45));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 982px;
  }

  .u-section-3 .u-gallery-1 {
    height: 961px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1861px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1840px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 4989px;
  }

  .u-section-3 .u-gallery-1 {
    height: 4968px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 3149px;
  }

  .u-section-3 .u-gallery-1 {
    height: 3128px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 501px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 441px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 26px;
}

.u-section-4 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: normal;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 400;
  letter-spacing: normal;
  font-family: Oswald, sans-serif;
  margin: 10px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 27px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 441px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-4 .u-text-4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 441px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 26px;
}

.u-section-4 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 364px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 364px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 253px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 265px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 0 10px 15px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 239px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 239px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(51,51,51,0.65), rgba(51,51,51,0.65)), url("sdsd-min.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 411px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  width: 1068px;
  margin: 80px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 16.5px));
  min-height: 252px;
  grid-gap: 22px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-group-1 {
  width: 119px;
  min-height: 121px;
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-text-1 {
  font-size: 2.75rem;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-group-2 {
  width: 119px;
  min-height: 121px;
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px;
}

.u-section-5 .u-text-3 {
  font-size: 2.75rem;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-group-3 {
  width: 119px;
  min-height: 121px;
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 20px;
}

.u-section-5 .u-text-5 {
  font-size: 2.75rem;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-group-4 {
  width: 119px;
  min-height: 121px;
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-8 {
  padding: 20px;
}

.u-section-5 .u-text-7 {
  font-size: 2.75rem;
  margin: 0 auto;
}

.u-section-5 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 573px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 27px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 27px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 27px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-bottom: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-2 {
    margin-top: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-3 {
    margin-top: 0;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-4 {
    margin-top: 0;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-7 {
    font-size: 2.25rem;
  }
}