.u-section-1 {
  background-image: none;
  min-height: 1760px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Oswald, sans-serif;
  text-transform: none;
  margin: 0 309px 0 310px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 34px 338px 0 339px;
}

.u-section-1 .u-line-1 {
  width: 849px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 24px auto 0 calc(((100% - 1140px) / 2) + 146px);
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  margin: 68px calc(((100% - 1140px) / 2) + 816px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  margin: -29px calc(((100% - 1140px) / 2) + 368px) 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  margin: -29px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 823px);
}

.u-section-1 .u-gallery-1 {
  height: 1126px;
  grid-gap: 17px 17px;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 50px 50px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  margin: -374px calc(((100% - 1140px) / 2) + 927px) 0 calc(((100% - 1140px) / 2) + -33px);
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  margin: -20px calc(((100% - 1140px) / 2) + 478px) 0 calc(((100% - 1140px) / 2) + 323px);
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  margin: -29px calc(((100% - 1140px) / 2) + 24px) 0 calc(((100% - 1140px) / 2) + 786px);
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  margin: -430px calc(((100% - 1140px) / 2) + 940px) 0 calc(((100% - 1140px) / 2) + -20px);
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  background-image: none;
  margin: -28px calc(((100% - 1140px) / 2) + -48px) 0 calc(((100% - 1140px) / 2) + 781px);
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  margin: -29px calc(((100% - 1140px) / 2) + 329px) 0 calc(((100% - 1140px) / 2) + 224px);
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 12px auto 60px calc(((100% - 1140px) / 2) + 482px);
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1562px;
  }

  .u-section-1 .u-text-1 {
    width: 681px;
    margin-left: 210px;
    margin-right: 209px;
  }

  .u-section-1 .u-text-2 {
    width: 623px;
    margin-right: 238px;
    margin-left: 239px;
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 940px) / 2) + 91px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 616px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2) + 616px);
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 616px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-gallery-1 {
    height: 928px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 827px);
    margin-left: calc(((100% - 940px) / 2) + -33px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2) + 378px);
    margin-left: calc(((100% - 940px) / 2) + 223px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 610px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 940px) / 2) + 840px);
    margin-left: calc(((100% - 940px) / 2) + -20px);
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 940px) / 2) + -48px);
    margin-left: calc(((100% - 940px) / 2) + 681px);
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + -48px);
    margin-left: calc(((100% - 940px) / 2) + 681px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 282px);
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 2411px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 100px;
    margin-right: 99px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 128px;
    margin-left: 129px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 396px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2) + 396px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 396px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-gallery-1 {
    height: 1777px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2) + 717px);
    margin-left: calc(((100% - 720px) / 2) + -33px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2) + 268px);
    margin-left: calc(((100% - 720px) / 2) + 113px);
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + 268px);
    margin-left: calc(((100% - 720px) / 2) + 113px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 720px) / 2) + 730px);
    margin-left: calc(((100% - 720px) / 2) + -20px);
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 720px) / 2) + -48px);
    margin-left: calc(((100% - 720px) / 2) + 571px);
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 720px) / 2) + -48px);
    margin-left: calc(((100% - 720px) / 2) + 571px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2) + 62px);
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 5432px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 216px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2) + 216px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2) + 216px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-gallery-1 {
    height: 4798px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2) + 627px);
    margin-left: calc(((100% - 540px) / 2) + -33px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2) + 178px);
    margin-left: calc(((100% - 540px) / 2) + 23px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 540px) / 2) + 178px);
    margin-left: calc(((100% - 540px) / 2) + 23px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 540px) / 2) + 640px);
    margin-left: calc(((100% - 540px) / 2) + -20px);
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 540px) / 2) + -48px);
    margin-left: calc(((100% - 540px) / 2) + 481px);
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 540px) / 2) + -48px);
    margin-left: calc(((100% - 540px) / 2) + 481px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 3804px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: 1px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 45px;
    margin-right: calc(((100% - 340px) / 2) + 16px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    width: 324px;
    margin-top: 317px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 311px;
    margin-right: calc(((100% - 340px) / 2) + 30px);
    margin-left: calc(((100% - 340px) / 2) + -14px);
  }

  .u-section-1 .u-gallery-1 {
    height: 2984px;
    margin-top: -670px;
  }

  .u-section-1 .u-text-6 {
    width: 271px;
    margin-top: -997px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 649px;
    margin-right: calc(((100% - 340px) / 2) + 23px);
    margin-left: calc(((100% - 340px) / 2) + -21px);
  }

  .u-section-1 .u-text-8 {
    width: 338px;
    margin-top: -373px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    width: 204px;
    margin-top: -1376px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 648px;
    margin-right: 0;
    margin-left: calc(((100% - 340px) / 2) + -30px);
  }

  .u-section-1 .u-text-11 {
    width: 282px;
    margin-top: -369px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1911px;
    margin-left: calc(((100% - 340px) / 2) + 74px);
  }
}.u-section-2 {
  background-position: 50% 50%;
  background-image: linear-gradient(0deg, rgba(17,31,53,0.5), rgba(17,31,53,0.5)), url("mixedusedevelopment5.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 295px;
  position: relative;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 1px auto 27px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 267px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 50px;
}

.u-section-2 .u-text-1 {
  margin: 58px 20px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-2 .u-text-3 {
  margin: -5px 20px 0;
}

.u-section-2 .u-text-4 {
  margin: 10px 20px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 267px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 220px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 32px;
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: 32px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 12px;
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 32px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 32px;
    margin-left: 8px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }
}