body{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    background-color:rgb(2, 24, 39);

}
 
@media only screen and (max-width: 500px) {
    body{
        margin-top: 10px;
        margin-left: 2px;
        margin-right: 2px;
        background-color:rgb(2, 24, 39);
    }
}
header{
    z-index: 4;
    display: block;
    position: fixed;
    color: white;
    margin: 0%;
    top: 0;
    width: 98%;
    height: 80px;
    background-color: rgb(20, 20, 29);
}
@media only screen and (max-width: 500px) {
    header{
        width: 100%;
        z-index: 4;
        display: block;
        position: fixed;
        color: white;
        margin-top: 0px;
        height: 60px;
        background-color: rgb(20, 20, 29);
    }
}
header p a{
    text-decoration: none;
    margin-top: 0;
    height: auto;
    background-color: black;
    color: whitesmoke;
    padding-right: 2px;
    text-align: right;
    margin-left: 85%;
}
@media only screen and (max-width: 500px) {
    header p a{
        display: none;
        visibility: hidden;
        margin-top: 0;
        height: 20px;
        background-color: black;
        color: whitesmoke;
        padding-right: 2px;
        text-align: right;
        margin-left: 16%;

    }
}
header p  .fa-google {
    margin-top: 0;
    text-align: right;
    color:white;
  }
header p .fa {
    padding: 2px;
    margin: 0px;
    text-decoration: none;
 
  }
.menu{
    color: white;
}
@media only screen and (max-width: 500px) {
    .menu{
        color: white;
        margin-bottom: 10px;
        margin: 0;
    }
}
.menu ul{
   color: white;
    margin-top: 0;
    display: block;
    list-style: none;
    float: left;
}
.menu ul li{
    float: left;
    padding: 5px;
list-style: none;
text-decoration: none;
}
@media only screen and (max-width: 500px) {
    .menu ul li  {
        float: left;
        padding: 5px;
    list-style: none;
    text-decoration: none;
    font-size: 12px;
    }
}
.menu ul li a{
margin-bottom: 20%;
    float: left;
    text-decoration: none;
    
}
.menu img{
    margin-top: 0px;
    position: absolute;
    text-align: left;
    height: 40px;
    margin-left: 91%;
}
@media only screen and (max-width: 500px) {
    .menu img{
        margin-top: 0px;
        position: absolute;
        text-align: left;
        height: 20px;
        margin-left: 83%;
        z-index: 4;
    }
}
.slide{
    position: relative;
    margin: 10px;
}
@media only screen and (max-width: 500px) {
    .slide{
      width: 93%;
        position: relative;
        height: auto;
        margin-top: 60px;
    
    }
}
.about-logo{
    color: white;
    border-radius: 10px;
    margin-left:30px ;
    margin-right:30px ;
    align-items: center;
    text-align: center;
    
}
@media only screen and (max-width: 500px) {
    .about-logo{
        z-index: 4;
        margin-top: 10px;
        color: white;
        border-radius: 10px;
        margin-left:10px ;
        margin-right:3px ;
        align-items: center;
        text-align: center;
    }
}
@media only screen and (max-width: 500px) {
    .about-logo p img{
      width: 310px;
  margin-left: 5px;
      margin-top: 2px;
        
    }
}
#about-logo{
    padding-right: 20px;
    height: 200px;
    float:left;
}
.about-logo h2{
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
 
}
.about-logo h2 p{
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.about-logo article{
    margin-left: 10px;
    color: white;
    padding: 5px;
    text-align: justify;
    word-wrap: break-word;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0px;
}
@media only screen and (max-width: 500px) {
    article{
        margin-left: 0%;
        margin-right: 2px;
        color: white;
        padding: 2px;
        text-align: justify;
        word-wrap: break-word;
        font-family: "Montserrat", Sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5em;
        letter-spacing: 0px;
    }

.our-mission{
    background-color: rgb(62, 55, 71);
    border-radius: 10px 10px 0px 0px ;
    width: 100%;


}
.our-mission h1{
    color: white;
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
}
@media only screen and (max-width: 500px) {
    .our-mission h1{
        font-size: 20px;
        color: white;
        font-family: "Montserrat", Sans-serif;
        font-weight: 200;
        text-transform: uppercase;
        display: block;
    }
}
.our-mission img{
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    float: left;

}
@media only screen and (max-width: 500px) {
    .our-mission img{
        margin: 2px;
        padding: 5px;
        float: left;
    
    }
}
.our-mission article{
    width: 800px;
    padding-top: 0px;
    padding-top: 30px;
    text-align: justify;
    word-wrap: normal;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    letter-spacing: 0.2px;

}
@media only screen and (max-width: 500px) {
    .our-mission article{
        width: 100%;
        padding: 5px;
        text-align: justify;
        word-wrap: break-word;
        font-family: "Montserrat", Sans-serif;
        font-size: 14px;
        letter-spacing: 0.2px;
    
    }
}
.our-vision{
    
    background-color: rgb(47, 42, 53);
    border-radius: 0px 0px 10px 10px ;
    height: auto;


}
.our-vision img{
    margin-left: 20px;
    padding: 10px;
    float: left;

}
@media only screen and (max-width: 500px) {
    .our-vision img{
        margin: 2px;
        padding: 5px;
        float: left;
    
    }
}
.our-vision h1{
    color:white ;
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
  
}
@media only screen and (max-width: 500px) {
    .our-vision h1{
        font-size: 20px;
        color:white ;
        font-family: "Montserrat", Sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        display: block;
      
    }
}

.our-vision article{
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    letter-spacing: 0.2px;
    padding-top: 30px;
    width: 800px;
    padding-top: 10px;
    padding: 5px;
    text-align: justify;
    word-wrap: normal;
    overflow-wrap: break-word;
    
}
@media only screen and (max-width: 500px) {
    .our-vision article{
        width: 100%;
        padding: 5px;
        text-align: justify;
        word-wrap: normal;
        font-family: "Montserrat", Sans-serif;
        font-size: 14px;
        letter-spacing: 0.2px;
    
    }

.projects{
    color: cornsilk;
    font-family: "Montserrat", Sans-serif;
background-color: rgb(46, 35, 63);
}
.contact{
    margin-bottom: 20px;
    color: cornsilk;
    height: auto;
    background-color: transparent;
    font-size: 48px;
    
}
.contact h2{
    font-family: "Montserrat", Sans-serif;
    font-size: 48px;
    margin-left: 10px;
}
@media only screen and (max-width: 500px) {
    .contact h2{
        font-family: "Montserrat", Sans-serif;
        font-size: 24px;
        margin-left: 20px;
    }
}
.contact a{
    padding: 30px;

}
@media only screen and (max-width: 500px) {
    .contact a{
        padding: 5px;
    
    }
}
.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  @media only screen and (max-width: 500px) {
    .fa {
        padding: 5px;
        font-size: 5px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
}
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color:white;
  }
  
  .fa-twitter {
    color:white;
  }
  
  .fa-google {
    color:white;
  }
  
  .fa-linkedin {
    color:white;
  }
  
  .fa-youtube {
    color:white;
  }
  
  .fa-instagram {
    color:white;
  }
  .fa-whatsapp {
    color:white;
  }